@import "tailwindcss";


:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  background-image: url('/bg-gradient.jpg');
  background-size: 200%;
  /* background size for small screens */
  @media (max-width: 800px) {
    background-size: cover;
  }
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  min-height: 100vh;
}